name: PyPI publish for email validate

on:
  push:
    branches:
      - release
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - name: prepare python build env
      run: |
        pip3 install -U wheel setuptools twine
        python3 setup.py sdist bdist_wheel
        twine check dist/*
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages_dir: dist/
        skip_existing: true
        verbose: true
    - name: Sending Build Status
      if: always()
      env:
        DINGTALK_ACCESS_TOKEN: ${{ secrets.DINGTALK_ACCESS_TOKEN }}
        DINGTALK_SECRET: ${{ secrets.DINGTALK_SECRET }}
        JOB_STATE: ${{ job.status }}
        RUNNER_OS: ${{ runner.os }}
        GITHUB_REF: ${{ github.ref }}
        GITHUB_RUN_ID: ${{ github.run_id }}
        GITHUB_REPOSITORY: ${{ github.repository }}
      run: |
        python3 notify.py
